.one{
  display: flex;
  align-content: center;
  height: 40px;
  width:fit-content;
 
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}
*{
  text-align: center;
}

input{
  border-radius: 6px;
}
button{
  border-radius: 6px;
}
.lorem-text{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
}